.cart-container {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cart-container > h2 {
  font-size: 40px;
  font-family: "Integral CF", sans-serif;
  font-weight: bold;
}
.cart {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.cart-card {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.divider {
  /* width: 1340px; */
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  /* margin: 10px 0px; */
}
.item{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.order-summary-title{
    font-family: "Satoshi", sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.order-summary-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.summary-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: fit-content;
}
.title-summary, .summary-value, .total-title-summary{
    font-family: "Satoshi", sans-serif;
    /* font-weight: regular; */
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}
.summary-value, .total-summary-value{
    font-weight: bold;
    color: black;
}
.order-summary{
    display: flex;
    justify-content: space-between;
}
.total-title-summary{
    color: black;
    font-size: 20px;
}
.total-summary-value{
    font-size: 24px;
}