.product-card {
  width: 295px;
  text-align: center;
}

.product-image {
  width: 295px;
  height: 298px;
  object-fit: cover;
}

.product-name {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

.product-reviews {
  color: black;
  margin-top: 5px;
}

.product-price {
  font-family: "Satoshi", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: black;
  margin-top: 10px;
}
.gold-star {
  color: #FFC633;
}
