.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 90px;
  background-color: white;
  position: sticky;
  top: 0;
}

.navbar-title {
  font-family: "Integral CF", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: black;
}

.navbar-title > a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin: 0 15px;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
}

.search-bar {
  width: 577px;
  height: 35px;
  border-radius: 62px;
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  font-family: "Satoshi", sans-serif;
  color: rgba(0, 0, 0, 0.4);
}

::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icons > * {
  margin-left: 20px;
  color: black;
  cursor: pointer;
}
.navbar-links > li:hover{
    cursor: pointer;
}
